*{
    width: 100%;
    font-family: 'Kumbh Sans', sans-serif;
}
nav{
    display: flex;
    height: 6rem;
    border-bottom: 1.2px solid rgb(119, 111, 111);
    position: relative;
}
nav .name-logo{
  width: 18%;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}
nav .name-logo img{
    width: 80%;
}
.nav-links{
    width: 60%;
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    width: 75%;
    align-items: center;
    justify-content: space-around;
}
nav ul a:nth-child(3){
    
}

nav ul a{
    text-decoration: none;
    color: rgb(124, 119, 119);
    width: 20%;
    font-size: 1.1rem;
    position: relative;
    text-align: center;
}

nav ul a::after{
    content: "";
    position: absolute;
    height: 4px;
    background-color: hsl(26, 100%, 55%);
    width: 0%;
    left: 0;
    bottom: -2.7rem;
    transition: all .3s linear;
}
nav ul a:hover::after{
    width: 100%;
}
.name-logo button{
    display: none;
}
.closebtn{
    display: none;
}
nav ul a:hover{
    color: black;
}
.profile-description{
    display: flex;
    width: 15%;
}
.cart{
  align-items: center;
  justify-content: right;
  display: flex;
  width: 10%;
  background-color: transparent;
  border: none;
  position: relative;
}
.cart img{
    height: 1.6rem;
    width: 1.6rem;
    cursor: pointer;
}
.cart .item_number{
    position: absolute;
    background-color: hsl(26, 100%, 55%);
    width: 1.1rem;
    height: .8rem;
    font-size: 9px;
    font-weight: 600;
    top: 33%;
    border-radius: 5px;
}
.profile{
    align-items: center;
    justify-content: center;
    display: flex;
}
.profile img{
    height: 2.3rem;
    width: 2.3rem;
    cursor: pointer;
}
.content{
    margin-top: 5rem;
    margin-bottom: 5rem; 
}

.content .product-img{
   display: flex;
   align-items: center;
   justify-content: center;
}
.product-img .all-img{
    width: 67%;
    height: auto;
}
.all-img img{
    height: auto;
    border-radius: 1.2rem;
    border: none;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgb(156, 156, 156);
}
.all-img .img-icon{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    
}
.img-icon .thumbnail{
    width: 5rem;
    cursor: pointer;
    position: relative;
    transition: all .3s linear;
}
.all-img .img-icon img{
  border-radius: 10.8px;
  transition: all .2s linear;
}
.img-icon .active::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 100%,0.7);
    border-radius: 10.8px;
    border: 2px solid hsl(26, 100%, 55%);
}
.all-img .img-icon .thumbnail:hover::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 100%,0.7);
    border-radius: 10.8px;
    border: 2px solid hsl(26, 100%, 55%);
}
.product-description{

}
.product-texts{
    width: 70%;
}
.product-texts h2{
    font-weight: 800;
}
.product-texts P:first-child{
    font-size: 1rem;
    font-weight: 700;
    color: hsl(26, 100%, 55%);
    letter-spacing: 2px;
}
.product-texts p:nth-child(3){
    font-size: 1rem;
    margin-top: 2rem;
    color: hsl(0, 1%, 40%);
}
.product-texts .price{

}
.product-texts .price p{
    font-size: 1.5rem;
    color: black;
}
.product-texts .price span{
    color: hsl(26, 100%, 55%);
    background-color: hsl(25, 100%, 94%);
    font-size: .8rem;
    padding: .5rem;
    border-radius: 20%;
    margin-left: 1rem;
}
.product-texts .price del{
    font-size: 1rem;
    color: hsl(0, 2%, 59%);
    font-weight: 550;
}
.carts{
    margin-top: 2rem;
    display: flex;
}
.product-texts .quantity{
    display: flex;
    background-color: hsl(0, 0%, 92%);
    width: 13.5rem;
    border-radius: 8px;
}
.carts .quantity .minus-btn:focus{
    outline: 0;
    overflow: hidden;
    box-shadow: none;
}
.carts .quantity .plus-btn:focus{
    outline: 0;
    overflow: hidden;
    box-shadow: none;
}
.carts .quantity .minus-btn img{
    height: 5px;
width: 15px;
}
.carts .quantity .plus-btn img{
   height: 14px;
   width: 14px;
}
.quantity input{
    border: none;
    background-color: transparent;
    align-items: center;
    text-align: center;
    outline: none;
}
.quantity input:focus{
    outline: none;
}
.add-cart{
  text-align: center;
}
.add-cart button{
    font-size: .8rem;
    height: 100%;
    width: 75%;
    margin: auto;
    border-radius: 10px;
    border: none;
    background-color: hsl(26, 100%, 55%);
    color: white;
    font-weight: 700;
    box-shadow: 4px 23px 14px hsl(25, 100%, 94%);
    transition: all .3s;
}
.add-cart button:hover{
    transform: scale(1.05);
}
.add-cart button img{
    width: .8rem;
    height: .8rem;
    margin-right: .5rem;
}
.cart-box{
    position: absolute;
height: 15rem;
width: 23rem;
background-color: rgb(236, 234, 234);
box-shadow: 6px 8px 20px rgb(207, 207, 207), -6px 0px 20px rgb(202, 202, 202);
top: 5.5rem;
right: 4rem;
border-radius: 10px;
display: none;
text-align: center;
align-items: center;
flex-direction: column;
}
.cart_boxtext{
    height: 27%;
    align-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    margin-left: 3rem;
}
.cart-box hr{
    margin: 0;
}
.added_items{

    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    flex-direction: column;
}
.added_items .empty_text{
    font-family: 'Kumbh Sans', sans-serif;
    display: none;
    width: 10rem;
}
.added_items .item_details{
    display: flex;
    width: 100%;
    padding: 1.5rem;
    height: 67%;
}
.item_details img{
    height: 3rem;
    width: 3rem;
    border-radius: 5px;
}
.item_details i{
    width: 1rem;
    cursor: pointer;
}
.text_price p{
    margin: 0;
}
.text_price .prices{
    display: flex;
}
.text_price .prices p:first-child{
    color: rgb(122, 122, 122);
}
.added_items button{
    height: 25%;
    width: 87%;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: hsl(26, 100%, 55%);
    border: none;
    color: white;
    font-size: .9rem;
    font-weight: 600;
}

.modal{
    height: 100vh;
    width: 100%;
    background-color: rgba(54, 54, 54,0.7);
    z-index: 5;
    display: none;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}
.modal i{
   font-size: 2.2rem;
   color: white;
   width: 1rem;
   cursor: pointer;
}
.modal .fa-times{
    width: 2rem;
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 33%;
}
.modal .modal-img{
    width: 30%;
    
}
.modal-img .main-img{
    display: flex;
    position: relative;
}
.main-img .fa-chevron-circle-left{
    position: absolute;
    left: -1rem;
    top: 46%;
}
.main-img .fa-chevron-circle-right{
    position: absolute;
    right: 3px;
    top: 46%;
}
.modal-img .main-img img{
   width: 100%;
   border-radius: 10px;
}

.modal .modal-img .img-icon{
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   margin-top: 1rem;
}
.modal .modal-img .img-icon img{
    border-radius: 10px;
}

/*.cart:focus + .cart-box{
    display: block;
}*/
@media(min-width:1300px){
   nav{
       height: 8.5rem;
   }
   nav .name-logo{
    width: 20%;
    margin: auto;
    text-align: center;
  }
  nav ul{
      padding-left: 4rem;
  }
  nav ul a{
    text-decoration: none;
    color: rgb(124, 119, 119);
    width: 25%;
    font-size: 1.6rem;
    position: relative;
    text-align: center;
}
.cart img{
    height: 2.3rem;
    width: 2.3rem;
    cursor: pointer;
}
.profile img{
    height: 3rem;
    width: 3rem;
}
.product-img .all-img{
    width: 57%;
}
.product-img .all-img img{
    width: 100%;
}
.all-img .img-icon{
    width: 100%;
}
.img-icon .thumbnail{
    width: 6.8rem;
}
.product-description{
    display: flex;
    align-items: center;
}
.product-description .product-texts{
    height: auto;

}
.product-texts P:first-child{
    font-size: 1.5rem;
}
.product-texts p:nth-child(3){
    font-size: 1.35rem;
}
.product-texts h2{
    font-weight: 800;
    font-size: 3.37rem;
}
.product-texts .price p{
    font-size: 2rem;
}
.product-texts .price span{
    padding: .7rem;
}
.product-texts .price del{
    font-size: 1.3rem;
}
.product-texts .quantity{
    height: 3.5rem;
    width: 14.5rem;
    border-radius: 2rem
}
.carts .quantity .minus-btn img{
    height: 7px;
width: 19px;
}
.carts .quantity .plus-btn img{
   height: 18px;
   width: 18px;
}
.quantity input{
    font-size: 1.3rem;
}
.add-cart button{
    font-size: 1.2rem;
    width: 68%;
    border-radius: 1rem;
}
.add-cart button img{
    width: 1.1rem;
    height: 1.1rem;
    margin-right: .5rem;
}
.add-cart button:hover{
    background-color: hsl(26, 100%, 66%);;
}
.cart-box{
    height: 18rem;
    width: 26rem;
    top: 8rem;
    right: 12.5rem;
}
.added_items .empty_text{
    font-size: 1.3rem;
    width: 12rem;
}
.cart_boxtext{
    font-size: 1.3rem;
}
.item_details img{
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 11px;
}
.text_price p{
    font-size: 1.17rem;
    margin-top: 5px;
}
.added_items button{
    font-size: 1.1rem;
}
.cart .item_number{
    width: 1.6rem;
    height: 1.1rem;
    font-size: 13px;
    font-weight: 700;
}
nav ul a::after{
    bottom: -3.6rem;
}
}

@media(max-width:992px){
    nav{
        height: 4.5rem;
    }
    nav .nav-links{
        width: 70%;
    }
    nav ul{
        width: 90%;
        margin-bottom: 0rem;

    }
    nav ul a{
        font-size: .9rem;
    }
}

@media (max-width:768px){
    nav{
        position: relative;
        border: none;
        height: 4rem;
    }
    nav .name-logo{
        width: auto;
        margin: auto;
        text-align: center;
        margin-left: 1rem;
      }
      nav .name-logo a{
          width: 7.2rem;
      }
      nav .name-logo a img{

      }
    .nav-links{
        position: absolute;
        display: block;
        top: 0rem;
        height: 100vh;
        background-color: white;
        left: 0;
        transition: 0.5s; 
        overflow-x: hidden;
        width: 0;
    }
    nav ul{
        line-height: 2.6rem;
        z-index: 1;
        margin-top: 4rem;
        display: block;
    }
    nav ul a:nth-child(3){
        padding-left: 0rem;
    }
    nav ul a li{
        display: inline-block;
        font-size: 1rem;
        font-weight: 700;
    }
    nav ul a::after{
        display: none;
    }
    .sidenav{
        width: 0%;
    }
    .sidenav .closebtn {
        position: absolute;
        top: .8rem;
        left: 1rem;
        font-size: 36px;
        display: block;
      }
 
      .name-logo button{
          display: unset;
          width: 1.5rem;
          border: none;
           padding: 0;
           background: transparent;
      }
      .name-logo button img{
        padding: 0;
        height: .8rem;
      }
      .name-logo{
          display: flex;
      }
      .cart img{
          height: 1.1rem;
          width: 1.1rem;
      }
      .profile img{
        height: 1.3rem;
        width: 1.3rem;
    }
    .cart-box{
        height: 12rem;
        width: 16rem;
        right: 2rem;
    }
    .added_items .empty_text{
        font-size: .8rem;
        width: 8rem;
    }
    .cart_boxtext{
        font-size: 1rem;
    }
    .item_details img{
        height: 2.6rem;
        width: 2.6rem;
        border-radius: 8px;
    }
    .text_price p{
        font-size: .756rem;
        margin-top: 1px;
    }
    .item_details i{
        width: .7rem;
    }
    .added_items button{
        font-size: .8rem;
    }
    .added_items .item_details{
        padding: 1rem;
    }
    .row{
        margin: auto;
    }
    .product-img{
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    .product-img .all-img{
        width: 100%;
        padding: 0;
    }
    .product-img .all-img img{
        width: 100%;
        height: 19rem;
    }
    .all-img .img-icon{
        display: none;
    }
    .content{
        margin-top: 3px;
        margin-bottom: 2rem;
    }
    .cart .item_number{
        height: 10px;
        width: 11.5px;
        font-size: 7px;
    }
    .product-description{
        display: flex;
        align-items: center;
        margin-top: 2rem;
    }
    .product-texts{
        width: 100%;
    }
    .product-texts P:first-child{
        font-size: .84rem;
    }
    .product-texts p:nth-child(3){
        font-size: .8rem;
        margin-top: 1rem;
    }
    .product-texts h2{
        font-weight: 800;
        font-size: 1.4rem;
    }
    .product-texts .price p{
        font-size: .83rem;
        margin-bottom: 3px;
    }
    .product-texts .price span{
        padding: .3rem;
        font-size: .7rem;
    }
    .product-texts .price del{
        font-size: .8rem;
    }
    .carts{
        margin-top: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .product-texts .quantity{
        width: 14.5rem;
    }
    .quantity input{
        font-size: .83rem;
    }
    .add-cart{
        width: 16.5rem;
        margin-top: 10px;
    }
    .add-cart button{
        width: 85%;
        height: 2.35rem;
    }
    .add-cart button:hover{
        transform: scale(1.02);
    }
    .modal .fa-times{
        top: 2rem;
    }
    .modal .modal-img{
        width: 65%;  
    }
    .modal{
        align-items: baseline;
    }
}